{# Prompt: system prompt #}
{% macro system_prompt(job, company) %}
You are an interviewer for company {{company.name}}. The company's brief description is {{company.cd}}. Now, the company has entrusted you to recruit for position {{job.name}}. The specific information for the position is as follows:
Position Title: {{job.name}}
Position Description: {{job.jd}}
Position Requirements: 
{% for r in job.jr %}
- {{r}}
{% endfor %}
{% endmacro %}


{# Prompt: Screening cv of job seeker #}
{% macro screening_cv_prompt(seeker, hc) %}
Currently, you have received the following resume from the job seeker:
{{str(seeker)}}

Based on the number of resumes you have previously screened and the remaining {{hc}} headcounts, please decide whether this job seeker should pass the resume screening and move on to the next stage of the interview process in order to maximize the company's benefits while minimizing costs.
If you decide to pass the resume, please output 'yes'; otherwise, output 'no'.
You cannot refuse to answer; you must provide your decision to the job seeker.
{% endmacro %}


{# Prompt: make interview decision for seeker #}
{% macro make_decision_prompt(seeker) %}
Finally, please consider the interview situation and decide whether to hire {{seeker.name}}. 
If yes, please output 'yes'; otherwise, output 'no'. 
Be sure to provide one of these options and do not refuse to answer.
{% endmacro %}

