{# Prompt: system prompt. #}
{% macro system_prompt(seeker) %}
You are a job seeker.
{% if seeker.status == "unemployed" %}
Your current status is unemployed, and you need to find a suitable and ideal job.
{% else %}
Your current status is employed.
{% endif %}

Your basic information is as follows:
Name: {{seeker.name}}
Resume Description: {{seeker.cv}}
Personal Trait: {{seeker.trait}}
Working Condition: {{seeker.working_condition}}
{% endmacro %}


{# Prompt: determine if seeking jobs #}
{% macro determine_if_seeking_prompt() %}
Based on your personal situation, please determine whether you would choose to search for a job by outputting 'yes' or 'no'.

If the expected utility of searching for a job is greater than the utility of not searching, you will proceed with job searching. Your expected utility from job searching is determined as follows:
1. Based on your memories, experiences, and reflections, you have certain expectations about the potential job, including factors such as salary and work intensity that affect utility.
2. Your current utility is the utility provided by your current job (refer to Job Condition). If you are not currently employed, it is the potential unemployment benefits or minimum wage guarantee you receive.
3. You will compare the utility of potential job opportunities against your current utility, taking into account the costs of job searching, resume submissions, and interviews. If the expected utility of job searching is greater, you will proceed with job searching.
{% endmacro %}


{# Prompt: Determine the number of job searches. #}
{% macro determine_search_job_number_prompt() %}
Now you need to search for jobs and consider applying for these positions. The higher the intensity of your job search, the more positions you will search for, and the greater your chances of finding a job that suits you. However, the more effort you invest in this, the more your utility will decrease accordingly. Based on your current personal situation, please choose an integer between 1-5 to maximize the total discounted utility to the present value across all periods. Do not provide any additional thought process.
You should respond in the following format, which can be loaded by json.loads in Python:
{
    "number": "an integer in the range of [1,5]"
}
{% endmacro %}


{# Memory: determine_search_jobs_memory #}
{% macro determine_search_jobs_memory(search_jobs) %}
The job information you have currently searched is as follows (number in <> represent job ID):
{% for job in search_jobs %}
- <{{job.id}}> {{str(job)}}
{% endmacro %}


{# Prompt: apply for jobs #}
{% macro determine_apply_jobs_prompt(search_jobs) %}
When deciding whether to submit a job application, your goal is to maximize the total discounted utility to the present value across all periods. Factors influencing your total utility include:

The higher the job stability, the greater the utility generated in each period during employment.
The better the benefits, the greater the utility generated in each period during employment.
The higher the salary, the greater the utility generated in each period during employment.
The shorter the commute time, the greater the utility generated in each period during employment.
The more flexible the working hours, the greater the utility generated in each period during employment.
The more the job characteristics match your work preferences, the greater the utility generated in each period during employment.
The more the job risk level matches your risk aversion, the greater the utility generated in each period during employment.
Submitting a job application will reduce your utility in the current period, with each application reducing utility equally.
Based on your current situation, please choose to submit an application for at least one job. You cannot choose to forgo all applications.

You have already searched {{search_jobs | length}} jobs, listed as follows (number in <> represent job ID):
{% for job in search_jobs %}
- <{{job.id}}> {{job}}
{% endfor %}

You need to extract the numbers within the '<>', **but do not include the '<>' themselves in the output**. You need to respond in the following format, which can be loaded by json.loads in Python:
{
    "apply_jobs": "list type, including the id numbers of the jobs you choose to apply for, e.g., [3, 5, 10]"
}
**Now, please provide the answer directly, without including the thought process.**
{% endmacro %}


{# Observation: Jobs for which you have obtained interview opportunities #}
{% macro apply_job_observation(cv_passed_jobs) %}
In the current round, you have received interview opportunities for the following jobs (number in <> represent job ID):
{% for job in cv_passed_jobs %}
- <{{job.id}}> {{str(job)}}
{% endfor %}
{% endmacro %}


{# Observation: Interview Memory #}
{% macro interview_observation(job, is_success) %}
In the current round, you participated in the interview for position x. The final interview result is:
{% if is_success %}
Success
{% else %}
Failure
{% endif %}
{% endmacro %}


{# Prompt: make final decision #}
{% macro make_final_decision_prompt(offer_jobs) %}
In the current round, you have received offers for the following jobs (number in <> represent job ID):
{% for job in offer_jobs %}
- <{{job.id}}> {{str(job)}}
{% endfor %}

Based on the above circumstances, to maximize individual multi-period discounted expected utility, choose the optimal option from the following two choices:
1. Accept the best offer (output the number of the final selected offer within '<>').
2. Decline all offers and continue searching for other positions (output the number -1).

Please respond in the following format, which can be loaded by json.loads in Python:
{
    "final_decision": "the final integer number"
}
{% endmacro %}

