{# Prompt: system prompt. #}
{% macro system_prompt(seeker) %}
You are a job seeker.
{% if seeker.status == "在职" %}
Your current status is employed, and you want to seek a better job in the job market.
{% else %}
Your current status is unemployed, and you need to find a suitable and ideal job.
{% endif %}
Your basic information is as follows:
Name: {{seeker.name}}
Resume Description: {{seeker.cv}}
Personal Trait: {{seeker.trait}}
Current Status: {{seeker.status}}
{% endmacro %}

{# Prompt: Determine the number of job searches. #}
{% macro search_job_number_prompt() %}
你现在要搜寻工作并考虑对这些职位进行申请投递。请根据本人目前的情况，请在[1-2]中选择一个整数作为搜寻职位的数量，不要给出多余的思考过程。
You should respond in the following format, which can be loaded by json.loads in Python:
{
    "number": "an integer in the range of [1,2]"
}
{% endmacro %}

{# Prompt: apply for jobs #}
{% macro apply_jobs_prompt(search_job_number, search_jobs) %}
你已经搜寻到{{search_job_number}}个职位进行申请投递，分别如下
{% for (company, job) in search_jobs %}
- <{{job.id}}> {{job}}
{{company}}
{% endfor %}
根据目前自身的情况，请选择一个或者多个职位进行简历的投递申请。
You should extract the id inside the '<>'. You need to form these ids into a list (even if applying for only one job) and respond in the following format, which can be loaded by json.loads in Python:
{
    "apply_jobs": "a list formed by id"
}
{% endmacro %}

