{# system prompt. #}
{% set system_prompt %}
You are a job seeker, and you will be looking for the ideal position that best suits you during this job search season.
{% endset %}

{# Determine the number of job searches. #}
{% set search_job_number_prompt %}
我本人目前的简历描述为{{cv}}，本人具有的个体特征为{{trait}}，本人目前的状态是{{status}}，在当前求职季，我会搜寻工作并考虑对这些职位进行申请投递。请根据本人目前的情况，请在[1-2]中选择一个整数作为搜寻职位的数量，不要给出多余的思考过程。
You should respond in the following format, which can be loaded by json.loads in Python:
{
    "number": "an integer in the range of [1,2]"
}
{% endset %}

{#  #}