{% macro interview_opening_statement(seeker, job) %}
In this round of interviews, the participants are job seeker {{seeker.name}} and the interviewer from company {{job.company_name}}. 
The position the job seeker is as follows:
{{job}}
Attention, interviewer: if the interview is over, please simply output 'exit'.
Due to time constraints, both parties should be as concise and clear as possible.
First, please have {{seeker.name}} introduce themselves.
{% endmacro %}


